Flask==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.1
attrs==21.2.0
click==8.0.1
colorama==0.4.4
flask-restglue==0.0.4
iniconfig==1.1.1
itsdangerous==2.0.1
mongoengine==0.23.1
mongomock==3.22.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
pymongo==3.12.0
pyparsing==2.4.7
pytest==6.2.2
sentinels==1.0.0
shellingham==1.4.0
six==1.16.0
toml==0.10.2
typer==0.3.2
